@mixin molecules-card($class-name: 'moleculesCard') {
  .#{$class-name} {
    border: 1px solid $color-light-grey;
    box-shadow: 0 4px 2px -2px lighten($color-light-grey, 5%);
    font-family: Arial;
    padding: 1rem;

    &--noBorderTop {
      border-top: inherit;
    }

    .#{$class-name}__subtitle {
      color: $color-grey;
      font-size: 0.75rem;
      font-weight: 500;
      text-align: left;

      &--warning {
        color: $color-orange;
        font-weight: 700;
      }

      @include media-tablet-up {
        font-size: 1rem;
      }
    }

    .#{$class-name}__paragraph {
      color: $color-grey;
      font-size: 0.75rem;
      margin-top: 1rem;
      text-align: left;

      @include media-tablet-up {
        font-size: 1rem;
      }
    }

    .#{$class-name}__action {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    .#{$class-name}__item {
      width: 48%;
    }
  }
}
