@mixin organisms-offer($class-name: 'organismsOffer') {
  .#{$class-name} {
    margin: auto;
    max-width: calc(100% - 20px);

    @include media-tablet-up {
      max-width: 280px;
    }

    .#{$class-name}__bottom {
      margin-top: 1rem;
    }
  }
}
